beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
Django==2.2.5
django-cors-headers==3.1.1
django-filter==2.2.0
djangorestframework==3.10.2
djangorestframework-simplejwt==4.3.0
emoji==0.5.4
future==0.18.2
idna==2.9
joblib==0.15.1
json5==0.9.4
lxml==4.5.1
nltk==3.5
PyJWT==1.7.1
pytz==2020.1
regex==2020.5.14
requests==2.23.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.46.0
urllib3==1.25.9
